// footer.pug
-
	var footerHeadClasses = "block md:mb-[38px] mb-2 mt-10 md:mt-0 text-lg text-openpayd-dark-blue"
	var footerUlClasses = "leading-[38px] space-y-2 text-lg text-openpayd-dark-blue "


//- include ../components/only-gateways.pug
//- ../components/only-gateways.pug bileşeninin yüklenip yüklenmeyeceğini kontrol et.
//- Eğer ShowOnlyGateways tanımlı DEĞİLSE (varsayılan) VEYA ShowOnlyGateways true ise, bileşeni yükle.
//- Eğer ShowOnlyGateways açıkça false olarak ayarlanmışsa, bileşeni YÜKLEME.
if (typeof ShowOnlyGateways === 'undefined' || ShowOnlyGateways === true)
	include ../components/only-gateways.pug

footer(class="bg-shades-violet-light pt-12 pb-8")
	div(class="container mx-auto px-6 max-w-[" + siteWidth + "]")

		// Products
		div(class="xl:grid xl:grid-cols-12 flex flex-col gap-4")
			div(class="col-span-6 order-1")
				a(href="/" class="inline-block")
					img(src="/src/images/OP-Logo.svg" alt="OpenPayd Logo" class="h-[40px]")
			
			.col-span-6.col-start-7(class="xl:mb-[63px] order-3")
				div(class="flex xl:justify-end gap-4")
					+ButtonAuraBorder({url:"#", text:"LOCATIONS", classes:"font-black", rel:"nofollow", target:"_blank" })
					+buttonNonBorder({
						url:"#", 
						text:"CONTACT", 
						classes: "bg-openpayd-pink hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
					})

			.col-span-10.row-start-2.order-4.hidden
				div Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ipsam, aliquid illo corrupti, doloremque unde quidem ea molestiae sit consectetur accusamus saepe ipsum aut nulla dicta porro ratione eveniet rerum.

			.col-span-2.row-start-2.order-4(class="leading-[38px]")
				span(class= footerHeadClasses) Products
				ul(class= footerUlClasses)
					li: a(href="#") Banking-as-Service
					li: a(href="#") Accepting Payments
					li: a(href="#") Global Payouts
					li: a(href="#") Pooled Accounts
					li: a(href="#") Virtual IBANs & Linked Accounts
					li: a(href="#") Corporate Accounts
					li: a(href="#") Multi-Currency Accounts
					li: a(href="#") Foreign Exchange

			// Use Case
			.col-span-2.col-start-3.row-start-2.order-5(class="leading-[38px]")
				span(class= footerHeadClasses) Use Case
				ul(class= footerUlClasses)
					li: a(href="#") Embedded Finance
					li: a(href="#") Fintech
					li: a(href="#") Remittance
					li: a(href="#") Marketplaces & Platforms
					li: a(href="#") Digital Assets
					li: a(href="#") Payroll
					li: a(href="#") Forex & Online Brokerage
					li: a(href="#") iGaming

			// Company
			.col-span-2.col-start-5.row-start-2.order-6(class="leading-[38px]")
				span(class= footerHeadClasses) Company
				ul(class= footerUlClasses)
					li: a(href="#") About Us
					li: a(href="#") Meet The Team
					li: a(href="#") Events
					li: a(href="#") Careers

			// Resources
			.col-span-2.col-start-7.row-start-2.order-7
				span(class= footerHeadClasses) Developers
				ul(class= footerUlClasses)
					li: a(href="#") OpenPyad API
					li: a(href="#") API Docs
					li: a(href="#") Sandbox
			.col-span-2.col-start-9.row-start-2.order-8
				span(class= footerHeadClasses) Resources
				ul(class= footerUlClasses)
					li: a(href="#") Announcements
					li: a(href="#") Our Media Assets
					li: a(href="#") Our Blog
					li: a(href="#") Whitepapers & Resources
					li: a(href="#") Fintech Rewired
					li: a(href="#") Legal

			.col-span-2.col-start-11.row-start-2.order-2
				div(class="flex items-center gap-4 ml-4 xl:justify-end")
					a(href="https://www.linkedin.com/company/openpayd/", target="_blank", rel="nofollow", aria-label="LinkedIn")
						img(src="/src/images/icon-linkedin.svg", alt="LinkedIn", class="h-5 w-5")
					a(href="https://www.youtube.com/channel/UCuNsfZj-Mu6St7grX75oy8w", target="_blank", rel="nofollow", aria-label="YouTube")
						img(src="/src/images/icon-youtube.svg" alt="YouTube", class="h-5 w-5")
					a(href="https://www.openpayd.com/wp-content/themes/openpayd/images/icons/x.svg" aria-label="X (Twitter)", target="_blank", rel="nofollow")
						img(src="/src/images/icon-x.svg", alt="X", class="h-5 w-5")
					a(href="https://www.instagram.com/lifeatopenpayd/" aria-label="Instagram", target="_blank", rel="nofollow")
						img(src="/src/images/icon-ig.svg", alt="Instagram", class="h-5 w-5")
			div(class="col-span-12 mt-[63px] order-8 row-start-3 text-sm text-openpayd-dark-blue leading-6")
				| © OpenPayd Ltd 2025. All rights reserved.
				br
				br
				| SettleGo Solutions Limited (trading as OpenPayd) is a company registered in England with company number 09570221 and ICO registration ZA548790. The company is authorised and regulated by the Financial Conduct Authority as an Electronic Money Institution (Firm Reference Number: 900483). For more information, you can visit the Financial Services Register #[a(class="underline", href="https://register.fca.org.uk/s/firm?id=001b000000ygu60AAA", target="_blank", rel="nofollow") here].
				br 
				| OpenPayd Financial Services Malta Limited (company number C 75580) is authorised and regulated by the Malta Financial Services Authority as a Financial Institution.
