
@theme {
	--color-main-black: #000;
	--color-main-white: #fff;
	--color-main-text: #001244;
	--color-main-menu-hover: #B514F7;
	--color-openpayd-pink: #E348FF;
	--color-openpayd-light-pink: #fcedff;
	--color-openpayd-purple: #B514F7;
	--color-openpayd-light-blue: #e6faff;
	--color-openpayd-blue: #00CCFF;
	/* --color-openpayd-dark-blue: #001244; */
	--color-openpayd-dark-blue: rgb(0, 18, 68);
	--color-shades-dark-blue-light-active: #B0B6C5;
	--color-shades-violet-light: #EFEFFF;
	--color-opanpayd-violet: #625BFB;

	--color-openpayd-shades-dark-blue-light: #B0B6C5;

	--color-openpayd-gray: #F5F5F5;

	--color-black: var(--color-openpayd-dark-blue);


	--color-body-text-1: #B0B6C5;
	
	--font-rig-sans: "rig-sans", sans-serif;
	--pink-blue-gradient: 98.83deg, #E348FF -20.16%, #00CCFF 32.19%, #53D0FD 66.64%, #B514F7 117.67%;
}

body {
    background-color: var(--color-main-white);
    font-family: var(--font-rig-sans);
	font-size: 18px;
}
