
@theme {
	--color-main-black: #000;
	--color-main-white: #fff;
	--color-main-text: #001244;
	--color-main-menu-hover: #B514F7;
	--color-openpayd-pink: #E348FF;
	--color-openpayd-purple: #B514F7;
	--color-openpayd-light-blue: #e6faff;
	--color-openpayd-blue: #00CCFF;
	/* --color-openpayd-dark-blue: #001244; */
	--color-openpayd-dark-blue: rgb(0, 18, 68);
	--color-shades-dark-blue-light-active: #B0B6C5;
	--color-shades-violet-light: #EFEFFF;
	--color-opanpayd-violet: #625BFB;


	--color-body-text-1: #B0B6C5;
	
	--font-rig-sans: "rig-sans", sans-serif;
}

body {
    background-color: var(--color-main-white);
    font-family: var(--font-rig-sans);
}
