include ../mixins/Accoridon.pug
mixin Faq(faq)
	section.faq.w-full(class="")
		.container.mx-auto(class="max-w-[" + siteWidth + "] px-[15px] xl:px-0 py-[151px]")
			div(class="col-span-12 text-center mb-[64px]")
				h2(class="font-black mb-12 xl:text-[54px] xl:leading-[69px]") FAQ
				p Answered by our Experts
			div.gradient-border-2(class="col-span-12 xl:grid xl:grid-cols-12 xl:grid-rows-1 gap-4 xl:py-[86px] xl:px-[74px]")
				div(class="col-span-10 col-start-2")
					+Accordion(faq)
