section(class="bg-openpayd-gray")
	.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] py-[151px] md:grid md:grid-cols-12 px-6 md:px-0")
		div(class="md:col-span-10 md:col-start-2 md:text-center space-y-[48px] text-lg")
			h2(class="font-black md:text-[54px] text-3xl md:leading-[69px]") A full banking and payments ecosystem through a single API
			p.font-2xl OpenPayd’s simple, developer-first API delivers Banking-as-a-Service with a modular architecture.
				br
				| Build a banking and payments service that grows and changes as you do. 
		.gateways(class="md:col-span-12 md:grid md:grid-cols-3 md:grid-rows-2 md:gap-11 mt-[112px] space-y-6 md:space-y-0")
			
			-
				var prodGateways = [
					{
						img: "/OP-Icon-Pay-In-Review-Aura.svg",
						title: "Accepting Payments",
						sum: "Receive payments in every major curreny",
						url: "#"
					},
					{
						img: "/OP-Icon-International-Aura.svg",
						title: "Global Payouts",
						sum: "Connect to local and global payment rails",
						url: "#"
					},
					{
						img: "/OP-Icon-Corporate-Customers-Aura.svg",
						title: "Corporate Accounts",
						sum: "Manage all your business spending",
						url: "#"
					},
					{
						img: "/OP-Icon-Sub-Accounts-Aura.svg",
						title: "Pooled Accounts",
						sum: "Segregate accounts to power your business",
						url: "#"
					},
					{
						img: "/OP-Icon-Pay-In-Review-Aura.svg",
						title: "Virtual Ibans",
						sum: "Virtual account for every underlying customer",
						url: "#"
					},
					{
						img: "/OP-Icon-FX-Aura.svg",
						title: "Multi-Currency Accounts",
						sum: "12 Major currencies within a single account",
						url: "#"
					}
				]
			each item, index in prodGateways
				div(class="gradient-border-2 md:py-[38px] md:pe-[24px] p-6", data-aos="fade-up", data-aos-delay= index * 100)
					div(class="grid grid-col md:pl-[112px] space-y-[24px]") 
						img(class="md:absolute float-left md:-ml-[88px] size-[64px]", src="/src/images" + item.img, alt= item.title)
						strong(class="block text-2xl font-bold")= item.title
						span(class="block")= item.sum
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue", href= item.url) 
							span SEE MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
