mixin productSlider(p)

	#products-slider.swiper(class="md:w-[60vw] w-full pe-5")
		.swiper-wrapper
			each p in productSliderContent
				.swiper-slide(class="md:w-1/3! w-1/4")
					.gradient-border-2(class="md:p-[50px] p-[41px] h-full text-white")
						img(class="mb-[18px] size-[64px]", src=`/src/images/${p.img}`, alt= p.title)
						div(class="mb-[18px] text-2xl font-bold")= p.title
						div(class="text-lg")= p.desc
						if p.button
							+buttonNonBorder({
								url: p.button.url,
								text: p.button.text,
								classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white mt-[46px]",
								target:"",
								rel:""
							})
			if p.length > 2
				.swiper-slide(class="xl:w-2/6! w-2/3!")