-
	var teamMembers = [
		{
			name: "Dr Ozan Özerk",
			title: "Founder",
			url: "#",
			img: "/ozan-ozerk.png"
		},
		{
			name: "Iana Dimitrova",
			title: "Chief Executive Officer",
			url: "#",
			img: "/Iana-Dimitrova.png"
		},
		{
			name: "David Bull",
			title: "Chief Financial Officer",
			url: "#",
			img: "/David-Bull.png"
		},
		{
			name: "Dr Ozan Özerk",
			title: "Founder",
			url: "#",
			img: "/ozan-ozerk.png"
		},
		{
			name: "Dr Ozan Özerk",
			title: "Founder",
			url: "#",
			img: "/ozan-ozerk.png"
		},
	]

mixin teamSlider(p)
	#team-slider.swiper(class="overflow-visible!")
		.swiper-wrapper
			each p in teamMembers
				//- .swiper-slide(class="w-1/3! space-y-[32px] text-white")
				.swiper-slide(class="space-y-[32px] text-white")
					//- outreAuraBorder(src, altText,  classes)
					+outreAuraBorder(p.img, p.name, "mb-[56px]" , imgClass = "bg-openpayd-dark-blue")
					.name(class="font-bold text-4xl")= p.name
					.title(class="text-lg")= p.title
					a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue", href= p.url) 
						span Explore
						img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
			//- .swiper-slide


