mixin teamSlider(p)
    #team-slider.swiper
        .swiper-wrapper
            .swiper-slide 1
            .swiper-slide 2
            .swiper-slide 3
            .swiper-slide 4
            .swiper-slide 5
            .swiper-slide 6