extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "Career"
	//- SEO
	-var desc = "Career"
	-var keywords = "Home,Page"
	-var pageRole = "home"
	-var ShowOnlyGateways = false


block content
	include ../mixins/locations-slider.pug

	+breadcrumb(["Company", "Career"])

	//- div(class="mt-[197px] mb-[42px]")
		.container.w-full.mx-auto.grid.grid-row-12(class="max-w-[" + siteWidth + "] pt-[32px] px-[5px]")
			.breadcrumb Company > #[strong Career]

	+onlyTextHero("Join OpenPayds")

	section 
		img(src="/src/images/career-cover-image.png", alt="")

	//- section(class="py-[156px]")
	section(class="py-16 px-6 md:px-0")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px] text-[34px]") 



			p(class="text-lg xl:text-4xl") 
				strong How we are changing the world? 
				| At OpenPayd, we are building embedded finance and Banking-as-a-Service infrastructure that powers business growth.
				br
				| With our financial services infrastructure, innovative companies are building new products, streamline their operations and manage their payments on a global scale.

			.flex.gap-8
				+buttonNonBorder({
					url: "#", 
					text: "OPEN ROLES", 
					classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
				})
				+ButtonAuraBorder({
					url: "", 
					text: "CONTACT TALENT TEAM", 
					classes:"text-black", 
				})

	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			div(class="flex flex-col md:grid grid-cols-2 gap-x-26")
				div(class="content-center order-2 md:order-none space-y-8 md:space-y-16")
					h2(class="text-[36px] md:text-[72px] leading-[1.2] font-black" data-aos="fade-up") Make a difference
					p(class="text-balance" data-aos="fade-up") If you’re looking to build something brand new, from the ground up, now’s the time to join us!
				div(class="order-1 md:order-none pb-14 md:pb-0 content-center" data-aos="fade-up")
					+outreAuraBorder("/Make-a-difference.png", "Make a difference", "")


	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			div(class="flex flex-col md:grid grid-cols-2 gap-x-26")
				div(class="pb-14 md:pb-0 content-center" data-aos="fade-up")
					+outreAuraBorder("/Plot-your-own-course.png", "Plot your own course", "")
				div(class="content-center space-y-8 md:space-y-16")
					h2(class="text-[36px] md:text-[72px] leading-[1.2] font-black" data-aos="fade-up") Plot your own course
					p(class="text-balance" data-aos="fade-up") We’ll give you the tools, training and support you need to grow professionally.

	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			div(class="flex flex-col md:grid grid-cols-2 gap-x-26")
				div(class="content-center order-2 md:order-none space-y-8 md:space-y-16")
					h2(class="text-[36px] md:text-[72px] leading-[1.2] font-black" data-aos="fade-up") Grow your skills
					p(class="text-balance" data-aos="fade-up") With experience comes the opportunity to develop highly-specialised career skills and knowledge.
				div(class="order-1 md:order-none pb-14 md:pb-0 content-center" data-aos="fade-up")
					+outreAuraBorder("/Grow-your-skills.png", "Grow your skills", "")


	section(class="py-16 px-6 md:px-0")
		div(class="container mx-auto max-w-[" + siteWidth + "] text-openpayd-dark-blue")
			h2(class="text-center text-[36px] mb-8 xl:mb-16 md:text-[72px] leading-[1.2] font-black" data-aos="fade-up") Employee benefits

			-
				var benefits = [
					{
						img: "/benefit-Health-insurance.svg",
						title: "Health insurance",
						text: "If you’re looking to build something brand new, from the ground up, now’s the time to join us!"
					},
					{
						img: "/benefit-Wellbeing-Perks.svg",
						title: "Wellbeing Perks",
						text: "We’ll give you the tools, training and support you need to grow professionally."
					},
					{
						img: "/benefit-Social-volunteering-day.png",
						title: "Annual bonus scheme",
						text: "With experience comes the opportunity to develop highly-specialised career skills and knowledge."
					},
					{
						img: "/benefit-Personal-training-budget.svg",
						title: "Personal training budget",
						text: "If you’re looking to build something brand new, from the ground up, now’s the time to join us!"
					},
					{
						img: "/benefit-Wellbeing-Perks-laptop.svg",
						title: "60 days remote working",
						text: "We’ll give you the tools, training and support you need to grow professionally."
					},
					{
						img: "/benefit-Social-volunteering-day.svg",
						title: "Social volunteering day",
						text: "With experience comes the opportunity to develop highly-specialised career skills and knowledge."
					},
					{
						img: "/benefit-Union.svg",
						title: "Extra Birthday leave",
						text: "If you’re looking to build something brand new, from the ground up, now’s the time to join us!"
					},
					{
						img: "/benefit-Union-2.svg",
						title: "Early Friday finish",
						text: "We’ll give you the tools, training and support you need to grow professionally."
					},
					{
						img: "/benefit-Long-Service-Benefits.svg",
						title: "Long Service Benefits",
						text: "With experience comes the opportunity to develop highly-specialised career skills and knowledge."
					},
				]
			div(class="xl:grid xl:grid-cols-3 text-center xl:space-x-[190px] space-y-[64px]")
				each benefit in benefits
					div 
						figure(class="inline-block")
							img(src="/src/images" + benefit.img, alt= benefit.title)
						h4(class="font-bold text-2xl")= benefit.title
						p= benefit.text 

	section(class="bg-openpayd-light-pink py-16 px-6 md:px-0")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px]") 
			h2(class="text-center text-[36px] mb-8 xl:mb-16 md:text-[72px] leading-[1.2] font-black" data-aos="fade-up")  Latest Open Roles
		.container.w-full.mx-auto(class="xl:grid xl:grid-cols-3 xl:grid-rows-1 max-w-[" + siteWidth + "] space-y-[54px] gap-[78px]") 

			div.gradient-border-2(class="p-6 space-y-3") 
				h5(class="text-2xl leading-9 font-bold") AML Compliance Executive (Transaction Monitoring)
				.location(class="text-lg leading-7") Hybrid - Full-time, Sofia
				.deparmenat(class="text-base") Compliance & Risk

				+blueColorButton("#", "SEE MORE")

			div.gradient-border-2(class="p-6 space-y-3") 
				h5(class="text-2xl leading-9 font-bold") Senior Software Engineer (Java)
				.location(class="text-lg leading-7") Remote — Full-timeRemote - Turkey
				.deparmenat(class="text-base") Technology

				+blueColorButton("#", "SEE MORE")
			div.gradient-border-2(class="p-6 space-y-3") 
				h5(class="text-2xl leading-9 font-bold") AML Compliance Executive (Transaction Monitoring)
				.location(class="text-lg leading-7") Hybrid - Full-time, Sofia
				.deparmenat(class="text-base") Operations

				+blueColorButton("#", "SEE MORE")

	section(class="bg-openpayd-dark-blue overflow-hidden py-[156px]")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px]")
			h2(class="font-black leading-[69px] text-[54px] text-white px-6 md:px-6") Our locations
			+locationSlider()