extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "Components"
	//- SEO
	-var desc = "Components"
	-var keywords = "Home,Page"
	-var pageRole = "home"

block content
	// Breadcrumb
	div(class="mt-[197px] mb-[42px]")
		.container.w-full.mx-auto.grid.grid-row-12(class="max-w-[" + siteWidth + "] pt-[32px] px-[5px]")
			.breadcrumb Products > #[strong Accept Payments]
	

	// Products Dark Hero
	//- include header.pug içinde
	+poductHero({
		title: "MANAGE EVERY INCOMING PAYMENT",
		summary: "Receive payments without the pain, using OpenPayd’s universal infrastructure.",
		link1: {
			url: "/contact-us/",
			text: "DEMO",
		},
		link2: {
			url: "https://sandbox.openpayd.com/account/login",
			text: "SANDBOX",
			target: "_blank"
		}
	})

	// Solutions Light Hero
	//- include header.pug içinde
	+solutionHero({
		title: "MANAGE EVERY INCOMING PAYMENT",
		summary: "Receive payments without the pain, using OpenPayd’s universal infrastructure.",
		link1: {
			url: "/contact-us/",
			text: "DEMO",
		},
		link2: {
			url: "https://sandbox.openpayd.com/account/login",
			text: "SANDBOX",
			target: "_blank"
		}
	})

	// Only Text Hero
	//- include header.pug içinde
	+onlyTextHero("Announcements")

	// Dark Bg product Content
	include ../mixins/product-slider.pug
	section.dark-bg-product-content.overflow-hidden(class="w-full bg-[linear-gradient(to_left,rgb(0,18,68)_0%,rgb(0,18,68)_50%,white_50%,white_100%)]")
		.container.w-full.mx-auto(class="xl:grid xl:grid-cols-12 bg-openpayd-dark-blue max-w-[" + siteWidth + "] pb-[93px] pt-[116px] px-[5px] xl:rounded-tl-[125px]")

			div(class="xl:col-span-11 xl:col-start-2 p-[15px] xl:p-0")
				h2.text-white.font-black(class="xl:text-[72px]") Every Pay-In, managed your way
			div(class="col-span-4 col-start-2 text-lg text-white space-y-[38px] p-[15px] xl:p-0")
				
				-

					var darkBgContent = [
						{
							title: "Unlock real-time payment rails",
							summary: "Make payments faster than ever",
							text: "Never wait for a payment to reach your account again, with our access to real-time traditional and blockchain payment rails."
						},
						{
							title: "Harness every major currency",
							summary: "All in one place",
							text: "Global regulatory coverage and multi-currency accounts enable you to receive all major currencies, stablecoins and major digital assets such as BTC and ETH."
						},
						{
							title: "Reconcile on arrival",
							summary: "Streamlining your operations",
							text: "Virtual IBANs enable you to automatically reconcile every incoming payment as it arrives. Chase growth, not funds."
						},
					]
				
				each dbc in darkBgContent
					h3.font-bold.text-4xl= dbc.title
					h4.font-bold.text-2xl.text-openpayd-blue= dbc.summary
					p.text-lg= dbc.text

			
			div.col-start-7.col-span-5.text-white(class="xl:mt-[247px] ml-[15px] xl:ml-0")
				-
					var productSliderContent = [
						{
							img: "OP-Icon-Pay-In-Review-Aura.svg",
							title: "Via API",
							desc: "Our developer-friendly API is built for scale. Keep track of every incoming payment with our dedicated suite of API calls.",
							button: {
								text: "DIVE IN",
								url: "#"
							}
						},
						{
							img: "OP-Icon-Sub-Accounts-Aura.svg",
							title: "Through our platform",
							desc: "See all your incoming payments in one place in the OpenPayd platform. Then track, filter and export all the information you need.",
							button: {
								text: "SANDBOX",
								url: "#",
							}
						},
						{
							img: "OP-Icon-Pay-In-Review-Aura.svg",
							title: "Via API",
							desc: "Our developer-friendly API is built for scale. Keep track of every incoming payment with our dedicated suite of API calls.",
							button: {
								text: "DIVE IN",
								url: "#"
							}
						},
						{
							img: "OP-Icon-Sub-Accounts-Aura.svg",
							title: "Through our platform",
							desc: "See all your incoming payments in one place in the OpenPayd platform. Then track, filter and export all the information you need.",
							button: {
								text: "SANDBOX",
								url: "#",
							}
						}

					]
				+productSlider(productSliderContent)

	// Left Image Content
	section(class="")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] xl:px-0 px-[15px] py-[151px] xl:grid xl:grid-cols-12")
			div(class="xl:col-span-6 xl:col-start-1 mb-[50px]")
				img.w-full(src="/src/images/code-box.png", alt="6 data points: all it takes to initiate international payouts")
			div(class="xl:col-span-5 xl:col-start-8 xl:space-y-[48px] space-y-[24px] text-lg")
				h2(class="font-black xl:text-[54px] xl:leading-[69px]") 6 data points: all it takes to initiate international payouts
				p Does a payment infrastructure that can make payments in dozens of currencies, many of which in real-time, sound too complex?
				p Not at all. All it takes is one API call with six required parameters: Account ID, beneficiary ID, payment type and value, reference and date.
					br
					| That’s it, now watch that payment go.
				.flex.gap-8
					+buttonNonBorder({
						url: "#", 
						text: "DISCOVER vIBANs", 
						classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
					})
					+ButtonAuraBorder({
						url: "#", 
						text: "SANDBOX", 
						classes:"text-black"
					})
	//Right Image Content
	section(class="")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] xl:px-0 px-[15px] py-[151px] xl:grid xl:grid-cols-12")
			div(class="xl:col-span-5 xl:col-start-1 xl:space-y-[48px] space-y-[24px] text-lg mb-[50px]")
				h2(class="font-black xl:text-[54px] xl:leading-[69px]") 6 data points: all it takes to initiate international payouts
				p Does a payment infrastructure that can make payments in dozens of currencies, many of which in real-time, sound too complex?
				p Not at all. All it takes is one API call with six required parameters: Account ID, beneficiary ID, payment type and value, reference and date.
					br
					| That’s it, now watch that payment go.
				.flex.gap-8
					+buttonNonBorder({
						url: "#", 
						text: "DISCOVER vIBANs", 
						classes: "bg-openpayd-blue hover:bg-linear-[90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
					})
					+ButtonAuraBorder({
						url: "#", 
						text: "SANDBOX", 
						classes:"text-black"
					})
			div(class="xl:col-span-6 xl:col-start-7")
				img.w-full(src="/src/images/code-box.png", alt="6 data points: all it takes to initiate international payouts")

	//FAQ
	include ../components/faq.pug
	-
		var faq = [
			{ 
				no: '01', 
				q: 'Alright, but what exactly do you do?', 
				a: 'As a creative agency we work with you to develop solutions to address your brand needs. That includes various aspects of brand planning and strategy, marketing and design.' 
			},
			{ 
				no: '02', 
				q: 'I don’t need a brand strategist but I need help executing an upcoming campaign. Can we still work together?', 
				a: 'Yes! We can collaborate based on your needs.' 
			},
			{ 
				no: '03', 
				q: 'Are your rates competitive?', 
				a: 'We offer rates that reflect the quality and efficiency of our services.'
			},
			{ 
				no: '04', 
				q: 'Why do you have a monthly project cap?', 
				a: 'To ensure every project receives the attention it deserves.' 
			}
		]

	+Faq(faq)


