extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "FAQ"
	//- SEO
	-var desc = "FAQ"
	-var keywords = "Home,Page"
	-var pageRole = "home"
	-var ShowOnlyGateways = true


block content
	include ../components/faq.pug

	+breadcrumb(["Company", "Career"])


	+onlyTextHero("Answered by our experts")


	section(class="rounded-t-full overflow-hidden")
		img(class="h-auto w-full", src="/src/images/general-thin-cover.png", alt="Partner with us")


	section(class="py-20 px-6 md:px-0")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px] text-[34px]")
			div(class="md:w-4/6 md:mx-auto")
				-
					var faq = [
						{ 
							no: '01', 
							q: 'Alright, but what exactly do you do?', 
							a: 'As a creative agency we work with you to develop solutions to address your brand needs. That includes various aspects of brand planning and strategy, marketing and design.' 
						},
						{ 
							no: '02', 
							q: 'I don’t need a brand strategist but I need help executing an upcoming campaign. Can we still work together?', 
							a: 'Yes! We can collaborate based on your needs.' 
						},
						{ 
							no: '03', 
							q: 'Are your rates competitive?', 
							a: 'We offer rates that reflect the quality and efficiency of our services.'
						},
						{ 
							no: '04', 
							q: 'Why do you have a monthly project cap?', 
							a: 'To ensure every project receives the attention it deserves.' 
						}
					]

				+Faq(faq, false, false)


	section(class="bg-linear-(--pink-blue-gradient) text-openpayd-dark-blue py-24")
		div(class="container mx-auto max-w-[1200px] px-6 md:px-0")
			div(class="block md:grid grid-cols-2 gap-10")
				div(class="space-y-6 mb-10 md:mb-0")
					p(class="font-black text-[40px] leading-[1.2] text-balance") Move and manage money globally
					p(class="font-medium text-2xl text-balance") Contact our team today to talk through your company's needs.
				div(class="content-center space-y-6")
					p(class="font-bold text-4xl") Ready to collaborate?
					p
						+buttonNonBorder({
						url:"#", 
						text:"DIVE IN", 
						classes: "bg-openpayd-pink hover:text-white"
						})