extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "FAQ"
	//- SEO
	-var desc = "FAQ"
	-var keywords = "Home,Page"
	-var pageRole = "home"
	-var ShowOnlyGateways = true


block content
	include ../components/faq.pug

	+breadcrumb(["Company", "FAQ"])


	+onlyTextHero("Answered by our experts")


	section(class="md:rounded-t-full  rounded-t-[65px] overflow-hidden")
		img(class="h-auto w-full hidden md:block", src="/src/images/general-thin-cover.png", alt= pageTitle)
		img(class="h-auto w-full md:hidden", src="/src/images/general-bold-cover.png", alt= pageTitle)


	section(class="py-20")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px] text-[34px] px-6 md:px-0")
			div(class="text-center")
				h2(class="text-[42px] font-black") Questions Asked Frequently

			div(class="md:grid md:grid-cols-3 gap-16 space-y-10") 
				-
					var prodGateways = [
						{
							title: "Which industries do you serve?",
							sum: "Common use cases for OpenPayd",
							url: "/faq-detail"
						},
						{
							title: "Where is your service available?",
							sum: "Our service coverage for different OpenPayd products and services",
							url: "/faq-detail"
						},
						{
							title: "What currencies are supported by your platform?",
							sum: "Manage all your business spending",
							url: "/faq-detail"
						},
						{
							title: "How do I contact support?",
							sum: "Tech support and customer success information",
							url: "/faq-detail"
						},
						{
							title: "How is your pricing structured?",
							sum: "A fully bespoke offering",
							url: "/faq-detail"
						},
						{
							title: "What payment methods do you offer?",
							sum: "SWIFT, SEPA, Faster Payments and many more",
							url: "/faq-detail"
						},
						{
							title: "What is the typical timeframe for onboarding?",
							sum: "Our verification processes and account setup requirements",
							url: "/faq-detail"
						},
						{
							title: "Where can I find your API documentation?",
							sum: "Access our API Docs and explore our Sandbox testing environment",
							url: "/faq-detail"
						},
						{
							title: "What regulatory licences do you hold?",
							sum: "Information on our licensing, data protection and regulatory compliance",
							url: "/faq-detail"
						},
					]
				each item in prodGateways
					div(class="gradient-box py-[38px] px-[24px] mb-0")
						div(class="grid grid-col space-y-[24px]") 
							strong(class="block text-2xl")= item.title
							span(class="block text-lg")= item.sum
							a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href= item.url) 
								span READ MORE
								img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")


	section(class="py-20")
		.container.w-full.mx-auto(class="max-w-[" + siteWidth + "] space-y-[54px] text-[34px] px-6 md:px-0")
			div(class="text-center")
				h2(class="text-[42px] font-black") Resources

			div(class="md:grid md:grid-cols-3 gap-16 space-y-10") 	
				div(class="mb-0") 
					img(class="md:mb-8 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
				div(class="mb-0") 
					img(class="md:mb-14 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
				div(class="mb-0") 
					img(class="md:mb-14 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
				div(class="mb-0") 
					img(class="md:mb-14 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
				div(class="mb-0") 
					img(class="md:mb-14 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")
				div(class="mb-0") 
					img(class="md:mb-14 mb-10", src="/src/images/resources-cover-example.png", alt="")
					div(class="md:space-y-8 space-y-6")
						h3(class="text-2xl font-bold") Meet us at Forex Expo Dubai
						div(class="text-lg") OCTOBER 7 - 8 2024
						a.more(class="button aura-hover-text mt-auto content-center flex font-bold gap-2.5 text-openpayd-blue text-base", href="#") 
							span READ MORE
							img(class="inline-block", src="/src/images/link-arow.svg", alt="SEE MORE")

	
	
	
	section(class="bg-linear-(--pink-blue-gradient) text-openpayd-dark-blue py-24")
		div(class="container mx-auto max-w-[1200px] px-6 md:px-0")
			div(class="block md:grid grid-cols-2 gap-10")
				div(class="space-y-6 mb-10 md:mb-0")
					p(class="font-black text-[40px] leading-[1.2] text-balance") Move and manage money globally
					p(class="font-medium text-2xl text-balance") Contact our team today to talk through your company's needs.
				div(class="content-center space-y-6")
					p(class="font-bold text-4xl") Ready to collaborate?
					p
						+buttonNonBorder({
						url:"#", 
						text:"CONTACT", 
						classes: "bg-openpayd-pink hover:text-white"
						})