extends  ../layouts/layout

block variables
	-var pageType = ""
	-var pageTitle = "Accept Payments"
	//- SEO
	-var desc = "Accept Payments"
	-var keywords = "Home,Page"
	-var pageRole = "home"

block content
	section#sub-hero-banner(class="pt-[197px" style="background: inear-gradient(90deg, var(--color-openpayd-dark-blue) 50%, rgba(0, 0, 0, 0) 50%)")
		.container.w-full.mx-auto.grid.grid-row-12(class="max-w-[1392px] pt-[32px] px-[5px]")
			h1 MANAGE EVERY INCOMING PAYMENT
			p Receive payments without the pain, using OpenPayd’s universal infrastructure.
			+buttonNonBorder({
				url:"#", 
				text:"DEMO", 
				classes: "bg-openpayd-pink hover:bg-linear- [90deg,#E348FF_0%,#B514F7_30%,#625BFB_70%,#00CCFF_100%] hover:text-white"
			})
			+ButtonAuraBorder({
				url:"#", 
				text:"SANDBOX", 
				classes:"text-white", 
				rel:"nofollow", 
				target:"_blank" 
			})